<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="InitiatorEntities" connectionString="metadata=res://*/InitiatorModel.csdl|res://*/InitiatorModel.ssdl|res://*/InitiatorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-96D0KUM\SQL2019;initial catalog=WideWorldImporters;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WWIEntities" connectionString="metadata=res://*/WWIModel.csdl|res://*/WWIModel.ssdl|res://*/WWIModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-96D0KUM\SQL2019;initial catalog=WideWorldImporters;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WHEntities" connectionString="metadata=res://*/WHModel.csdl|res://*/WHModel.ssdl|res://*/WHModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-96D0KUM\SQL2019;initial catalog=WAREHOUS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>